In [1]:
import pandas as pd
import re
import json

In [2]:
movie = pd.read_csv("MovieSummaries/movie.metadata.tsv", delimiter='\t',header=None)
character = pd.read_csv("MovieSummaries/character.metadata.tsv", delimiter='\t',header=None)

# Add column names

In [3]:
character.columns = ['Wikipedia Movie ID','Freebase Movie ID','Actor DOD','Character Name','Actor DOB','Actor gender','Actor height','Actor ethnicity','Actor Name','Actor age at movie release','Freebase character map1','Freebase character map2','Freebase character map3']
character

,Wikipedia Movie ID,Freebase Movie ID,Actor DOD,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map1,Freebase character map2,Freebase character map3
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [4]:
movie.columns = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie languages','Movie countries','Movie genres']
movie

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

# Text regularization

In [5]:
movie.dtypes

Wikipedia movie ID            int64
Freebase movie ID            object
Movie name                   object
Movie release date           object
Movie box office revenue    float64
Movie runtime               float64
Movie languages              object
Movie countries              object
Movie genres                 object
dtype: object

In [6]:
character.dtypes

Wikipedia Movie ID              int64
Freebase Movie ID              object
Actor DOD                      object
Character Name                 object
Actor DOB                      object
Actor gender                   object
Actor height                  float64
Actor ethnicity                object
Actor Name                     object
Actor age at movie release    float64
Freebase character map1        object
Freebase character map2        object
Freebase character map3        object
dtype: object

In [7]:
def extract_after(text,keyword):
    match = re.compile(rf"{keyword}(.*)", re.IGNORECASE).search(text)
    return match.group(1).strip() if match else ""
def extract_before(text,keyword):
    match = re.search(rf'^(.*?)(?={re.escape(keyword)})', text)
    return match.group(1).strip() if match else text
def extract_between(text,start,end):
    match = re.compile(rf"{re.escape(start)}(.*?){re.escape(end)}", re.IGNORECASE).search(text)
    return match.group(1).strip() if match else ""

In [8]:
movie['Movie release date'] = movie['Movie release date'].apply(lambda x: extract_before(str(x), '-'))
movie['Movie release date'] = pd.to_datetime(movie['Movie release date'], errors='coerce').dt.year
#movie['Freebase movie ID'] = movie['Freebase movie ID'].apply(lambda x: extract_after(x, '/m/'))
movie['Movie languages'] = movie['Movie languages'].apply(lambda x: extract_between(x, '": "', ' Language'))
movie['Movie countries'] = movie['Movie countries'].apply(lambda x: extract_between(x, '": "', '"}'))
#movie['Movie languages'] = movie['Movie languages'].apply(lambda x: list(json.loads(x).values()))
#movie['Movie countries'] = movie['Movie countries'].apply(lambda x: list(json.loads(x).values()))
movie['Movie genres'] = movie['Movie genres'].apply(lambda x: list(json.loads(x).values()))
movie

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000.0,NaN,95.0,English,United States of America,"[Mystery, Biographical film, Drama, Crime Drama]"
2,28463795,/m/0crgdbh,Brun bitter,1988.0,NaN,83.0,Norwegian,Norway,"[Crime Fiction, Drama]"
3,9363483,/m/0285_cd,White Of The Eye,1987.0,NaN,110.0,English,United Kingdom,"[Thriller, Erotic thriller, Psychological thri..."
4,261236,/m/01mrr1,A Woman in Flames,1983.0,NaN,106.0,German,Germany,[Drama]
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011.0,NaN,120.0,English,United States of America,[Drama]
81737,34980460,/m/0g4pl34,Knuckle,2011.0,NaN,96.0,English,"Ireland"", ""/m/07ssc"": ""United Kingdom","[Biographical film, Drama, Documentary]"
81738,9971909,/m/02pygw1,Another Nice Mess,1972.0,NaN,66.0,English,United States of America,"[Satire, Comedy]"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992.0,NaN,150.0,Japanese,Japan,"[Science Fiction, Japanese Movies, Adventure, ..."
81740,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]"

# Missing values

In [9]:
missing_values = movie.isnull().sum()
missing_values

Wikipedia movie ID              0
Freebase movie ID               0
Movie name                      0
Movie release date           6903
Movie box office revenue    73340
Movie runtime               20450
Movie languages                 0
Movie countries                 0
Movie genres                    0
dtype: int64

In [10]:
missing_values = character.isnull().sum()
missing_values

Wikipedia Movie ID                 0
Freebase Movie ID                  0
Actor DOD                       9995
Character Name                257875
Actor DOB                     106145
Actor gender                   45609
Actor height                  295845
Actor ethnicity               344611
Actor Name                      1228
Actor age at movie release    158113
Freebase character map1            0
Freebase character map2       257865
Freebase character map3          815
dtype: int64

# Data summary

In [11]:
print(movie.describe())

       Wikipedia movie ID  Movie release date  Movie box office revenue  \
count        8.174100e+04        74838.000000              8.401000e+03
mean         1.740784e+07         1977.489457              4.799363e+07
std          1.098791e+07           28.886039              1.121753e+08
min          3.300000e+02         1888.000000              1.000000e+04
25%          7.323695e+06         1956.000000              2.083193e+06
50%          1.777899e+07         1985.000000              1.063969e+07
75%          2.715573e+07         2004.000000              4.071696e+07
max          3.750192e+07         2016.000000              2.782275e+09

       Movie runtime
count   6.129100e+04
mean    1.118192e+02
std     4.360070e+03
min     0.000000e+00
25%     8.100000e+01
50%     9.300000e+01
75%     1.060000e+02
max     1.079281e+06

In [12]:
print(character.describe())

       Wikipedia Movie ID   Actor height  Actor age at movie release
count        4.506690e+05  154824.000000               292556.000000
mean         1.396975e+07       1.788893                   37.788523
std          1.079662e+07       4.379940                   20.587870
min          3.300000e+02       0.610000                -7896.000000
25%          3.759292e+06       1.676400                   28.000000
50%          1.189065e+07       1.750000                   36.000000
75%          2.366501e+07       1.830000                   47.000000
max          3.750192e+07     510.000000                  103.000000

# Merge two dataset

In [13]:
movie = movie.rename(columns={'Wikipedia movie ID':'Wikipedia Movie ID'})
df = movie.merge(character, on="Wikipedia Movie ID")
df

,Wikipedia Movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Freebase Movie ID,...,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map1,Freebase character map2,Freebase character map3
0,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,...",/m/03vyhn,...,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,...",/m/03vyhn,...,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,...",/m/03vyhn,...,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,...",/m/03vyhn,...,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,English,United States of America,"[Thriller, Science Fiction, Horror, Adventure,...",/m/03vyhn,...,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]",/m/02w7zz8,...,NaN,NaN,NaN,NaN,NaN,Billy Morton,NaN,/m/0gchkcy,NaN,/m/0gc4lfm
450665,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]",/m/02w7zz8,...,NaN,1982-01-28,NaN,NaN,NaN,Andrea Runge,19.0,/m/0gckh4f,NaN,/m/0gbx_rk
450666,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]",/m/02w7zz8,...,NaN,NaN,F,NaN,NaN,Wendy Anderson,NaN,/m/0gcp8fv,NaN,/m/0gby01h
450667,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]",/m/02w7zz8,...,NaN,NaN,NaN,NaN,NaN,Ariel Bastian,NaN,/m/0gdkb51,NaN,/m/0gdkb55
450668,12476867,/m/02w7zz8,Spliced,2002.0,NaN,86.0,English,Canada,"[Thriller, Horror, Slasher, Teen]",/m/02w7zz8,...,NaN,NaN,NaN,NaN,NaN,Jared Van Snellenberg,NaN,/m/0gdndlw,NaN,/m/0gdmxzn

In [14]:
missing_values = df.isnull().sum()
missing_values

Wikipedia Movie ID                 0
Freebase movie ID                  0
Movie name                         0
Movie release date             10010
Movie box office revenue      349641
Movie runtime                  50470
Movie languages                    0
Movie countries                    0
Movie genres                       0
Freebase Movie ID                  0
Actor DOD                       9995
Character Name                257875
Actor DOB                     106145
Actor gender                   45609
Actor height                  295845
Actor ethnicity               344611
Actor Name                      1228
Actor age at movie release    158113
Freebase character map1            0
Freebase character map2       257865
Freebase character map3          815
dtype: int64

In [15]:
print(df.describe())

       Wikipedia Movie ID  Movie release date  Movie box office revenue  \
count        4.506690e+05       440659.000000              1.010280e+05
mean         1.396975e+07         1984.523101              6.940705e+07
std          1.079662e+07           25.257942              1.469544e+08
min          3.300000e+02         1888.000000              1.000000e+04
25%          3.759292e+06         1969.000000              3.600000e+06
50%          1.189065e+07         1994.000000              1.784087e+07
75%          2.366501e+07         2005.000000              6.684503e+07
max          3.750192e+07         2016.000000              2.782275e+09

       Movie runtime   Actor height  Actor age at movie release
count   4.001990e+05  154824.000000               292556.000000
mean    1.288516e+02       1.788893                   37.788523
std     5.394664e+03       4.379940                   20.587870
min     0.000000e+00       0.610000                -7896.000000
25%     8.800000e+01       1.676400                   28.000000
50%     9.700000e+01       1.750000                   36.000000
75%     1.120000e+02       1.830000                   47.000000
max     1.079281e+06     510.000000                  103.000000

In [16]:
len(df['Actor Name'].unique())

134079