In [2]:
import pandas as pd
import numpy as np

In [28]:
char_dad = pd.read_csv('character.metadata.tsv', delimiter='\t')
char_dad.columns = ['Wikipedia_ID', 'Freebase_ID', 'movie_Release_date', 'Character_Name', 'Actor_DOB', 'gender', 'height', 
                     'ethnicity', 'Name', 'age_at_movie_release', 'Freebase_character_map', 'idk1', 'idk2']
movies2 = pd.read_csv('movie.metadata.tsv', delimiter='\t', header=None)
movies2.columns = ['Wikipedia_ID', 'Freebase_ID', 'Name', 'Release_date', 'box_office_rev', 'Runtime', 'languages',
                    'Countries', 'Genres']

In [29]:
char_dad[char_dad['Character_Name']=='Sallah'].head()

,Wikipedia_ID,Freebase_ID,movie_Release_date,Character_Name,Actor_DOB,gender,height,ethnicity,Name,age_at_movie_release,Freebase_character_map,idk1,idk2
2420,3184269,/m/0dnqr,1989-05-24,Sallah,1944-05-05,M,1.85,/m/06gbnc,John Rhys-Davies,45.0,/m/0jzx86,/m/0g2byj,/m/01846t
132625,54166,/m/0f4yh,1981-06-12,Sallah,1944-05-05,M,1.85,/m/06gbnc,John Rhys-Davies,37.0,/m/03jr4n_,/m/0g2byj,/m/01846t

In [12]:
movies2 = pd.read_csv('movie.metadata.tsv', delimiter='\t', header=None)
movies2.columns = ['Wikipedia_ID', 'Freebase_ID', 'Name', 'Release_date', 'box_office_rev', 'Runtime', 'languages',
                    'Countries', 'Genres']

In [30]:
movies2[movies2["Wikipedia_ID"]==54166].languages

{47896: '{"/m/0jzc": "Arabic Language", "/m/0h0t4": "Nepali Language", "/m/06nm1": "Spanish Language", "/m/03hkp": "Hebrew Language", "/m/02h40lc": "English Language", "/m/04306rv": "German Language"}'}

In [31]:
movies2.head()

,Wikipedia_ID,Freebase_ID,Name,Release_date,box_office_rev,Runtime,languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"